
.slideshow-container {
  position: relative;
  max-width: 800px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: none;
}

.active {
  display: block;
}

img {
  width: 100%;
  height: auto;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}




  
  /* 基本スタイル */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

/* ヘッダー */
header {
  background-color: #FF9999;
  color: #333;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline#FF3333;
}

/* セクション */
section {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.video-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}


.sns-links {
  list-style: none;
  padding: 0;
}

.sns-links li {
  margin: 10px 0;
}

.sns-links a {
  color: #007bff;
  text-decoration: none;
}

.sns-links a:hover {
  text-decoration: underline;
}

/* フッター */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}


body {
  background-image: url('https://pbs.twimg.com/media/Eu1FeMlVoAQhBvT.jpg'); /* 画像のパス */
  background-repeat: no-repeat; /* 繰り返しを防ぐ */
  background-size: cover; /* 全画面にフィット */
  background-position: center; /* 中央に配置 */
}

